{% extends 'base.html' %}
{% block title %}Home - Recipe Organizer{% endblock %}
{% block body %}
{% for recipe in recipes %}
    <div class="flex justify-center">
        <div class="w-1/2 bg-gray-300 mt-5 my-3 border-solid border-2 border-black p-5 sm:w-3/4">
            <!--<span class="text-sm">{{ recipe['created']}}</span>-->
            <h1 class="font-bold text-4xl">{{ recipe['title'] | safe }}</h1>
            <button class="flex mt-2 readMore">Read More</button>
            <div class="recipe hidden">
                <h5 class="font-bold text-decoration-line: underline mt-5">Ingredients</h5>
                <p>{{ recipe['ingredients'] | safe }}</p>

                <h5 class="font-bold text-decoration-line: underline mt-5">Procedure</h5> 
                <p>{{ recipe['guide'] | safe }}</p>

                <h5 class="font-bold text-decoration-line: underline mt-5">Servings</h5>
                <p>{{ recipe['servings'] | safe }}</p>
                <hr class="border-black my-3">
                <form action="{{ url_for('delete', recipe_id=recipe.id) }}" method="post">
                    <button type="submit" class="bg-red-600 px-2 rounded-md">Delete</button>
                </form>
            </div>
            
        </div>
    </div>  
{% endfor %}

{% endblock %}