@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Barlow", serif;
    overflow-x: hidden;
}

/*Allowing newline function in textarea*/
.support-answer-textarea {
    white-space: pre-wrap;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(148 163 184);
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}